*
    margin 0
    padding 0

html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden

canvas
    position absolute
    top 0
    left 0
    background rgb(42,74,80)
    background radial-gradient(circle, rgba(42,74,80,1) 0%, rgba(14,14,73,1) 82%, rgba(2,0,36,1) 100%)
    background-repeat no-repeat

.positionedContainer
    position absolute
    height 100%
    width 100%
    text-align center
    z-index 10

.container
    display flex
    align-items center
    justify-content center
    flex-direction column
    height 100%
    background-color #020524

.text
    font-family 'Lato', sans-serif
    color white     
    user-select none

h1.firstElements.text
    font-weight normal

h1.secondElements
    letter-spacing 5px
    font-weight bold
    font-size 40px

.progressBar
    width 60%
    height 1%
    margin-top 3%
    background-color gray

.progressBarProgression
    width 0%
    height 100%
    background-color white

.startButton
    cursor pointer
    padding 15px
    width: 23%
    margin-top 3%
    border 1px solid 
    border-color white
    text-align center
    letter-spacing 3px


.startButton:hover
    color #020524
    background-color white
    transition 0.3s ease-in-out

.descriptionBlock
    position absolute
    left 25%
    top 75%
    border 1px solid 
    border-color black
    z-index 100
    width 50%
    height 10%
    background-color lightgray
    display flex
    align-items center
    justify-content center
    padding 10px

.controls
    position absolute
    bottom: 20%
    z-index 100
    width 100%
    height 100%


.controls img 
    margin 0 auto
    width 100%

.invisible
    display none